body {
  margin: 0px;
  padding: 0px;
  font-size: 16px;
  font-family: "Courier New", Courier, monospace;
  background-size: cover;
  background-color: #e5e5e5;
  background-image: url(../img/2.jpg);
}
.header {
  width: 100%;
  height: 150px;
  line-height: 150px;
  text-align: center;
  font-weight: 700;
  color: white;
  font-size: 45px;
}
.body{
    width: 100%;
    display: flex;
    justify-content: center;
}
/* 登录界面的样式 */
.login-content {
  width: 400px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}
.left-code{
    display: flex;
}
.left-code img{
    margin-left: 10px;
    width: 140px;
    height: 35px;
    border: 1px solid red;
    margin-bottom: 10px;
}
.login-content .logo {
}
.login-form {
  width: 400px;
  display: flex;
  justify-content: center;
  padding: 10px;
}
.login-content .login-form .form-group {
  width: 300px;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.login-content .login-form .input-group {
  width: 100%;
}

form {
  width: 70%;
}
label {
  margin-bottom: 0px;
}
.account,
.pas {
  margin-bottom: 10px;
}
